@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: 'Poppins', sans-serif;
}

body {
  background: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-height: 1000px;
  margin: 50px;
  background: white;
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}

.container .left_side {
  position: relative;
  background-color: black;
  padding: 40px;
}

.profileText {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid darkolivegreen;
}

.profileText .imgBx {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.profileText .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profileText h2 {
  color: white;
  font-size: 1.5rem;
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1.4em;
  text-align: center;
}

.profileText h2 span {
  font-size: .8em;
  font-weight: 300;
}

.contactInfo {
  padding-top: 40px;

}

.title {
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.contactInfo ul {
  position: relative;
}

.contactInfo ul li {
  position: relative;
  list-style-type: none;
  margin: 10px 0;
  cursor: pointer;
}

.contactInfo ul li .icon {
  display: inline-block;
  width: 30px;
  font-size: 18px;
  color: cyan;
}

.contactInfo ul li span {
  color: white;
  font-weight: 300;
}

.contactInfo.education li {
  margin-bottom: 15px;
}

.contactInfo.education h5 {
  color: cyan;
  font-weight: 500;
}

.contactInfo.education h4:nth-child(2) {
  color: white;
  font-weight: 600;
}

.contactInfo.education h4 {
  color: white;
  font-weight: 300;
}

.contactInfo.language .percent {
  position: relative;
  width: 100%;
  height: 6px;
  background-color: black;
  display: block;
  margin-top: 5px;
}

.contactInfo.language .percent div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: cyan;
}

.container .right_side {
  position: relative;
  background-color: white;
  padding: 40px;
}

.about {
  margin-bottom: 50px;
}

.about:last-child {
  margin-bottom: 0;
}

.title2 {
  color: darkblue;
  text-transform: uppercase;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

p {
  color: darkblue;
}

.about .box {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}

.about .box .year_company {
  min-width: 150px;
}

.about .box .year_company h5 {
  text-transform: uppercase;
  color: gray;
  font-weight: 500;
  font-size: 15px;
}

.about .box .text h4 {
  text-transform: uppercase;
  color: green;
  font-size: 16px;
}

.text p {
  font-weight: 400;
  font-family: "Poppins";
  color: black;
}

.skills .box {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 150px 1fr;
  align-items: center;
}

.skills .box h4 {
  text-transform: uppercase;
  color: gray;
  font-weight: 500;
}

.skills .box .percent {
  position: relative;
  width: 100%;
  height: 10px;
  background-color: whitesmoke;
}

.skills .box .percent div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: cyan;
}

.interest {
  color: black;
  margin-top: 110px;
}

.interest ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.interest ul li {
  list-style: none;
  color: black;
  font-weight: 500;
  margin: 10px 0;
}

.interest ul li .fa {
  color: cyan;
  font-size: 18px;
  width: 20px;
  padding-right: 30px;
}

@media(max-width: 1000px) {
  .container {
    margin: 10px;
    grid-template-columns: repeat(1, 1fr);
  }

  .interest ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .about .box {
    flex-direction: column;
  }

  .about .box .year_company {
    margin-bottom: 5px;
  }

  .interest ul {
    grid-template-columns: repeat(1, 1fr);
  }

  .skills .box {
    grid-template-columns: repeat(1, 1fr);
  }
}
